.welcome-box{
  position:flex;
  height: 95%;
  /* width: calc(75% + 50px); */
  width: 80%;
  max-width: 80%;
  
  background-color: rgba(0, 0, 0, .8);
  border-radius: 5%; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate( -44%  , -50%);

}

.parent{ 
  align-items: center;
  justify-content: center;

}

.sideNav{
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  align-items: stretch;
}
